* {
    --border-color: #4DB6AC;
    --border-radius: 0.5rem;
    --background-color: #E0F2F1;
    --button-color: #004D40;
    --text-color: #004D40;
    --border-width: 1px;
    --btn-text: var(--background-color);
    --text-weight: 500;
    --font-family: ;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    font-weight: var(--text-weight);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    color: var(--text-color);
    padding: 0 1rem;
    width:100%;

    .cyter {
        text-align: left;
    }
    .description {
        text-align: center;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width:100%;
    max-width: 20rem;
    padding: 1rem;
    color: var(--text-color);
}

#input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} 

#value-input {
    width:100%;
    max-width: 100%;
    height: 2rem;
    border-width: var(--border-width);
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
}

#currency-src {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#currency-target {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.currency-selector {
    width:100%;
    height: 2rem;
    border-width: var(--border-width);
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
}

#controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .button {
        background-color: var(--button-color);
        border: 0;
        height: 2rem;
        color: var(--btn-text);
        font-weight: var(--text-weight);
        border-radius: var(--border-radius);
        box-shadow: 1px 1px 1px 1px rgba(00, 00, 00, 0.1);
        cursor: pointer;
    }
}

#output {
    width: 100%;
}

#value-output {
    display: flex;
    flex-direction: row;
    width:100%;
    height: 2rem;
    border-style: solid;
    border-width: var(--border-width);
    border-color: var(--border-color);
    background-color: #FFFFFF;
    border-radius: var(--border-radius);
    box-sizing: border-box;
}

@media screen and (min-width: 600px) {
    header {
        padding: 0 3rem;
    }
}

